@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<h2>Imię i nazwisko: Marcelina Katura</h2>
<p>Numer albumu: 120792</p>

<h3>Nawigacja:</h3>
<nav>
    <ul>
        <li><NavLink href="/" class="nav-link">Strona Główna</NavLink></li>
        <li><NavLink href="/counter" class="nav-link">Counter</NavLink></li>
        <li><NavLink href="/weather" class="nav-link">Weather</NavLink></li>
        <li><NavLink href="/cosmetics" class="nav-link">Podgląd Kosmetyków</NavLink></li>
    </ul>
</nav>

<h1>Interaktywny Podgląd Kosmetyków</h1>

<p>Tutaj znajdziesz interaktywny podgląd kosmetyków. Kliknij poniższy link, aby zobaczyć pełną listę kosmetyków i dowiedzieć się więcej na ich temat.</p>

<NavLink href="/cosmetics" class="nav-link">Zobacz Kosmetyki</NavLink>
